# JetBrains IDEs
*.iws
.idea/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
fabric.properties
out/

# Temporary files
.temp
.tmp
temp/
tmp/
